{% extends "layouts/base.html" %}

{% block title %} Permissões {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Permissões</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Configurações</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Permissões</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title"><i class="fa fa-key" aria-hidden="true"></i> Lista de permissões</h4>
								<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
									<i class="fa fa-plus"></i>
									Adicionar permissão
								</button>
							</div>
						</div>
						<div class="card-body">
							<!-- Modal Criar Permissao-->
							<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header no-bd">
											<h5 class="modal-title">
												<span class="fw-mediumbold">
												<i class="fas fa-key"></i>
												Nova</span>
												<span class="fw-light">
													Permissão
												</span>
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p class="small">Criar nova permissão para acessar módulos do sistema</p>
											<form action="{% url 'criar_permissao' %}" method="POST">
											{% csrf_token %}
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label>Módulo</label>
                                                            <input id="modulo" name="modulo" type="text" class="form-control" placeholder="Nome do módulo">
														</div>
													</div>
												</div>
												<div class="modal-footer no-bd">
													<button type="submit" class="btn btn-primary">Salvar</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="table-responsive">
								<table id="add-row" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>ID</th>
											<th>Módulo</th>
											<th style="width: 10%">Ação</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Módulo</th>
											<th>Ação</th>
										</tr>
									</tfoot>
									<tbody>
									{% for p in permissoes %}
										<tr>
											<td>{{ p.id }}</td>
											<td>{{ p.modulo }}</td>
											<td>
												<div class="form-button-action">
													<button type="button" data-toggle="modal" class="btn btn-link btn-primary btn-lg"
													data-target="#editarPermissaoModal-{{ p.id }}"	data-original-title="Editar">
														<i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
													</button>
												</div>
											</td>
										</tr>
										<!-- Modal Editar Permissao-->
										<div class="modal fade" id="editarPermissaoModal-{{ p.id }}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-mediumbold">
															<i class="fas fa-key"></i>
															Editar</span>
															<span class="fw-light">
																Permissão
															</span>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<p class="small">Editar uma permissão do sistema</p>
														<form action="{% url 'editar_permissao' p.id %}" method="POST">
														{% csrf_token %}
															<div class="row">
																<div class="col-sm-12">
																	<div class="form-group">
																		<label>Módulo</label>
																		<input id="modulo" name="modulo" type="text" class="form-control"
																		value="{{ p.modulo }}" placeholder="Nome do módulo">
																	</div>
																</div>
															</div>
															<div class="modal-footer no-bd">
																<button type="submit" class="btn btn-primary">Salvar</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#modulo").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
